section.container {
    padding-top: 150px;
}

.btn-nieuwtje {
    background-color: $gray-500;
    text-align: left;
}

.nieuwstekst h4 {
    text-decoration: underline;
    font-size: 1.25rem;
}